@media only screen and (min-width: 1401px) {
  /* Your styles for screens larger than 1400 pixels go here */
  #contact{
    height: fit-content;
  }
  #about,
  #experience, 
  #technical_skill,
  #projects {
    height: fit-content;
  }  
  .toggle-container {
    margin-left: 96%;
    margin-top: -65px;
  
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #contact{
    height: fit-content;
  }
  #about,
  #experience, 
  #technical_skill
  {
    height: fit-content;
  } 
  
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact{
    height: fit-content;
  }
  #projects {
    height: fit-content;
  }
  .toggle-container {
    margin-left: 95%;
    margin-top: -65px;
  
  }

}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    /* margin: 0 auto 2rem; */
    margin: 0 37%;
    margin-bottom: 20px;
  }
  .about-containers {
    margin-top: 0;
  }
  #projects {
    height: fit-content;
    margin-top: 30px;
  }   
  .toggle-container {
    margin-left: 90%;
    margin-top: -65px;
  
  }
}

@media screen and (max-width: 600px) {
  #contact{
    height: 25vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    /* margin-bottom: 2rem; */
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  #projects {
    height: fit-content;
    margin-top: 10px;
  }   
  .toggle-container {
    margin-left: 90%;
    margin-top: -65px;
  
  }
  
}

@media only screen and (max-width: 428px) {

  footer nav {
    height: fit-content;
    margin-bottom: 1px;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .toggle-container {
    margin-left: 60%;
    margin-top: -100px;
    /* margin-right: 30px; */
  }
}